# Загальні системні та конфігураційні файли
.DS_Store
Thumbs.db

# Папки та файли Node.js
/node_modules
package-lock.json

# Середовища та секрети
.env

# Папки, які створюють IDE (Visual Studio / VS Code)
/.vs/
*.vscode